{% extends 'shared/_MainLayout.html' %}{% load static %} {% block content %}
<section id="form">
    <!--form-->
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <!--login form-->
                <h2>ارسال ایمیل برای بازیابی رمز عبور :</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="R87Ri9nVS94nLC9bdnp3Yv4H9iGUhrjvqt5RTLuICsZUa7nnhGuLymPRRrw3ebH8">
                    <label for="{{sendemail.email.id_for_email}}">ایمیل</label>{{sendemail.email}}
                    <div class="pull-right" style="direction: rtl;">

                    </div>

                    <button type="submit" class="btn btn-default">ارسال</button>
                </form>
            </div>
            <!--/login form-->

        </div>
        <img class="loginav" src="/site_statics/images/home/loginava.png" width="450" height="350" padding-right="200" lt="">
    </div>
</section>{% endblock%}