{% extends 'shared/_MainLayout.html' %}{% load static %} {% block content %}
<section id="form">
    <!--form-->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="login-form">
                <!--login form-->
                <h3 class="logout"> از حساب کاربری خود با موفقیت خارج شدید</h3>
                <a href="/" class="rethome">بازگشت به صفحه اصلی
                </a>
            </div>
            <!--/login form-->

        </div>
        <img class="logoutav" src="/site_statics/images/home/loginava.png" width="450" height="350" padding-right="200" lt="">
    </div>
</section>{% endblock %}