<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/user" class="btn btn-link">پنل کاربری</a>
        </li>
        <li class="list-group-item">
            <a href="/user/edit" class="btn btn-link">ویرایش اطلاعات</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'user-open-order' %}" class="btn btn-link">سبد خرید</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-link">لیست علاقمندی ها</a>
        </li>
        <li class="list-group-item">
            <a href="/logout" class="btn btn-link">خروج</a>
        </li>
    </ul>
</div>