


pre.head2 {


    font-size: 39px;
    font: #421f29;

}
*{
    background-color: #f3e7e7;
}
img{
    margin-left: 20 px;

}
div{
font-size: 10px;
    text-decoration: none;
    font-size: 10zapx;
    color: #f99079;
    text-align: center;
margin-left: 0px;
}
a{color: #f99079;
    text-decoration: none;
font-size: 10;
    text-align: center;


}